body{
    margin:0;
    text-align:center;
    font-family: 'Merriweather Sans', sans-serif;
}
.top-container{
    background-color:#E4F9F5;
    text-align: center;
    padding:100px;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.265rem;
    margin: 50px auto 0 auto;
    color:#66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}
h3{
    color:#11999E;
}
a{
    color:#11999E;
}
a:hover{
    color:ghostwhite;
}
.span{
    text-decoration: underline;
}
.cloud1{
    position:absolute;
    bottom:300px;
    left:200px;
}
.cloud2{
    position:absolute;
    right:200px;
    top:100px;
}
.skill-row{
    width:50%;
    margin:100px auto;
    text-align: left;
    line-height:2;
}
.main_img{
    margin-top: 50px;
    width:25%;
}
.comp_img{
    width:25%;
    float: left;
    margin-right:30px;
}
.new_img{
    width:25%;
    float:right;
    margin-left:30px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width:5%
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding:20px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #e2ebf0;
    background-image: -webkit-linear-gradient(top, #e2ebf0, #49bf60);
    background-image: -moz-linear-gradient(top, #e2ebf0, #49bf60);
    background-image: -ms-linear-gradient(top, #e2ebf0, #49bf60);
    background-image: -o-linear-gradient(top, #e2ebf0, #49bf60);
    background-image: linear-gradient(to bottom, #e2ebf0, #49bf60);
    text-decoration: none;
  }
  .bottom-container{
      padding-top:20px;
      background-color: #66BFBF;
      margin-top:100px;
      height:20%;
  }
  .cpy{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.to_reach{

    margin-top:5px;
    padding-bottom:75px;
}